*{
  font-family: Georgia, 'Times New Roman', Times, serif
}

body{
  width: 100%;
  margin: 0 auto;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

/*Navigation bar*/

.navbar{
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li{
  display: inline-block;
  padding: 1rem;
}

nav ul li a{
  color: black;
  font-weight: bold;
}

nav ul li a:hover{
  color: #495e57;
  text-decoration: underline solid #495E57;
}

.hamburger-icon{
  display: none;
}

.visible {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 48px;
  right: 0;
  width: 30%;
  background-color: white;
  align-items: center;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

/*Header for home page*/
.header {
  background-color: #495E57;
  padding-bottom: 75px;
}

.header section {
  position: relative;
  padding: 10px 13%;
  color: white;
}

.header section div h1{
  color: #f4ce14;
  font-size: 64px;
}

.header section div h2{
  font-size: 40px;
}

.header section div p{
  font-size: 18px;
  max-width: 520px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.header section div img {
  position: absolute;
  right: 13%;
  top: 15%;
  width: 30rem;
  height: 32rem;
  border-radius: 16px;
}

.mainBtn{
  background-color: #f4ce14;
  color: black;
  border: none;
  border-radius: 16px;
  text-decoration: none;
  font-size: 18px;
  padding: 14px 18px;
  font-weight: bold;
  cursor: pointer;
}

.mainBtn:hover{
  background-color: white;
  color: #495E57;
}

/*Highlights*/
.highlights{
  margin-top: 8%;
}

.highlights-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 13%;
}

.altBtn{
  background-color: #f4ce14;
  color: black;
  border: none;
  border-radius: 16px;
  text-decoration: none;
  font-size: 18px;
  padding: 14px 18px;
  font-weight: bold;
  cursor: pointer;
}

.altBtn:hover{
  background-color: #495E57;
  color: white;
}

.highlights-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 13%;
}

.highlights-content .card{
  background-color: #EDEFEE;
  border-radius: 16px;
  margin-bottom: 10%;
  max-width: 400px;
}

.highlights-content img{
  width: 400px;
  height: 285px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.content-heading {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

.content-heading #price{
  color: #EE9972;
}

.content-description{
  justify-content: space-between;
  padding: 0 5%;
  line-height: 1.5;
}

.content-description button{
  justify-content: space-between;
  padding: 5% 0;
  font-size: 1rem;
  font-weight: bold;
}

.deliveryBtn{
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
}

.deliveryBtn:hover{
  color: #495e57;
  text-decoration: underline solid #495E57;
}

/*Testimonials*/
.testimonials{
  background-color: #EDEFEE;
}

.testimonials-heading{
  text-align: center;
  padding: 10px 13%;
}

.testimonials-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 13%;
}

.review-card{
  background-image: linear-gradient(#495E57, #495E57, white, white);
  width: 300px;
  height: 400px;
  margin-bottom: 6%;
  border-radius: 16px;
  color: white;
}

.review-rating{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: #495E57;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 13%;
}

#stars{
  color:#EE9972;
}

.reviewer{

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 13%;
}

.reviewer img{
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.reviewer h2{
  margin-left: 10%;
  text-align: center;
}

.review-description{
  margin-top: 15%;
  justify-content: space-between;
  padding: 0 5%;
  color: black;
  line-height: 1.5;
}

/*About*/
.about {
  margin-bottom: 75px;
}

.about-heading{
  text-align: center;
}

.about section {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px 25%;
}

.about section div h1{
  font-size: 24px;
}

.about section div h2{
  font-size: 20px;
}

.about section div p{
  font-size: 18px;
  max-width: 520px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.owners{
  display: flex;
}

#mario {
  position: absolute;
  right: 25%;
  top: 15%;
  width: 10rem;
  height: 10rem;
  border-radius: 16px;
  z-index: 1;
}

#adrian {
  margin-bottom: 100%;
  position: relative;
  right: 50%;
  top: 40%;
  width: 10rem;
  height: 10rem;
  border-radius: 16px;
  z-index: -1;
  transform: scaleX(-1);
}


/*Footer*/
footer{
  background-color: #EDEFEE;
}

footer section{
  display: flex;
  padding: 10px 13%;
  justify-content: space-between;
}

footer div{
  flex: 1;
}

footer ul{
  padding: 0;
  line-height: 1.5;
}
footer ul li a{
  text-decoration: none;
  color: black;
}

footer ul li a:hover{
  color: #495E57;
  text-decoration: underline solid #495E57;
}

footer div img{
  margin-top: 10%;
  width: 5rem;
}

/*Form*/
.formContent{
  background-color: #495E57;
  color: white;
  padding: 10px 13%;
}

.formContent h1{
  text-align: center;
}

.required{
  color: red;
}

form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

fieldset{
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  margin: auto;
}

label{
  font-weight: bold;
}

.rows{
  display: flex;
  gap: 1rem;
  margin-bottom: 5%;
}

.rows label{
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

select, input, textarea{
  border-radius: 16px;
  border: none;
  font-size: 18px;
  padding: 14px 18px;
  margin-top: 3%;
}

#notes{
  font-size: 18px;
  width: 100%;
  height: 150px;
  padding: 8px;
  border-radius: 16px;
}

#submitBtn{
  text-align: center;
  margin: 2% 5%;
}

.submitBtn{
  background-color: #F4CE14;
  color: black;
  border: none;
  border-radius: 16px;
  text-decoration: none;
  font-size: 18px;
  padding: 14px 18px;
  font-weight: bold;
  cursor: pointer;
}

.submitBtn:hover{
  background-color: white;
  color: #495E57;
}
.submitBtn:disabled{
  background-color: #333333;
  color: #868686;
  cursor: default;
}

.submitBtn:hover:disabled{
  background-color: #333333;
  color: #868686;
}

/*Confirmed Booking*/
.message{
  margin: 9% auto;
  padding: 25px;
  width: 23%;
  background-color: #495E57;
  display: column;
  justify-content: center;
  text-align: center;
  border-radius: 16px;
  color: white;
  text-shadow: 0 0 3px #f4ce14, 0 0 3px black;
  box-shadow: 0 0 10px black;
}

#okBtn{
  background-color: #F4CE14;
  color: black;
  border: none;
  border-radius: 16px;
  text-decoration: none;
  font-size: 18px;
  padding: 14px 18px;
  font-weight: bold;
  cursor: pointer;
}

#okBtn:hover{
  background-color: #EDEFEE;
  color: #495E57;
  border: none;
  border-radius: 16px;
  text-decoration: none;
  font-size: 18px;
  padding: 14px 18px;
  font-weight: bold;
  cursor: pointer;
}

.topBtn{
  position: fixed;
  background-color: #555555;
  color: #868686;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 24px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 16px;
  border: none;
  opacity: 0.75;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

.topBtn:hover{
  background-color: #868686;
  color: #333333;
}

/*Responsive*/

@media screen and (max-width: 1500px) {
  .about section{
    flex-direction: column;
    align-items: center;
  }

  .owners{
    margin-top: 10%;
    flex-direction: column;
  }

  #mario{
    position: relative;
    right: 13%;
    top: 25%;
  }
  #adrian{
    margin-top: 10%;
    margin-bottom: 10%;
    right: 13%;
    top: 25%;
  }
}

@media screen and (max-width: 1360px) {
  .header section div img {
    right: 13%;
    top: 25%;
    width: 15rem;
    height: 15rem;
    z-index: 0;
  }

  .highlights-content{
    flex-direction: column;
  }

  .testimonials-content{
    flex-direction: column;
  }
}

@media screen and (max-width: 982px) {
  .header section div img {
    margin-top: 10%;
    position: static;
    z-index: 0;
  }

  .hamburger-icon{
    display: block;
  }

  .hamburger-nav{
    display: none;
  }

  nav ul{
    display: none;
  }

  nav ul li a{
    color: white;
  }

  .visible {
    z-index: 1;
    display: flex;
    background: white;
    color: #495e57;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
  }

  .visible li a {
    display: flex;
    color: #495e57;
    transition: all 0.3s ease-in-out;
  }

  footer section{
    padding: 10px 8%;
    flex-direction: column;
  }

  .rows{
    flex-direction: column;
  }
  fieldset{
    flex-direction: column;
  }
}