body{
  width: 100%;
  margin: 0 auto;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

/*Navigation bar*/

.navbar{
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li{
  display: inline-block;
  padding: 1rem;
}

nav ul li a{
  color: black;
}

nav ul li a:hover{
  color: #495e57;
  text-decoration: underline solid #495E57;
}

.hamburger-icon{
  display: none;
}

.visible {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 48px;
  right: 0;
  width: 30%;
  background-color: #495E57;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

/*Header for home page*/
.header {
  background-color: #495E57;
  padding-bottom: 75px;
}

.header section {
  position: relative;
  padding: 10px 13%;
  color: white;
}

.header section div h1{
  color: #f4ce14;
  font-size: 64px;
}

.header section div h2{
  font-size: 40px;
}

.header section div p{
  font-size: 18px;
  max-width: 520px;
  margin-bottom: 30px;
}

.header section div img {
  position: absolute;
  right: 13%;
  top: 15%;
  width: 30rem;
  height: 32rem;
  border-radius: 16px;
}

.mainBtn{
  background-color: #f4ce14;
  color: black;
  border: none;
  border-radius: 16px;
  text-decoration: none;
  font-size: 18px;
  padding: 14px 18px;
  font-weight: bold;
  cursor: pointer;
}

.mainBtn:hover{
  background-color: white;
  color: #495E57;
}

/*Highlights*/
.highlights{
  margin-top: 10%;
}

.highlights-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 13%;
}

.altBtn{
  background-color: #f4ce14;
  color: black;
  border: none;
  border-radius: 16px;
  text-decoration: none;
  font-size: 18px;
  padding: 14px 18px;
  font-weight: bold;
  cursor: pointer;
}

.altBtn:hover{
  background-color: #495E57;
  color: white;
}

.highlights-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 13%;
}

.highlights-content .card{
  background-color: #EDEFEE;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-bottom: 10%;
  max-width: 400px;
}

.highlights-content img{
  width: 400px;
  height: 285px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.content-heading {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

.content-heading #price{
  color: #EE9972;
}

.content-description{
  justify-content: space-between;
  padding: 0 5%;
}

.content-description button{
  justify-content: space-between;
  padding: 5% 0;
  font-size: 1rem;
  font-weight: bold;
}

.deliveryBtn{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.deliveryBtn:hover{
  color: #495e57;
  text-decoration: underline solid #495E57;
}

/*Testimonials*/
.testimonials{
  background-color: #EDEFEE;
}

/*Footer*/
footer{
  background-color: #EDEFEE;
}

footer section{
  display: flex;
  padding: 10px 13%;
  justify-content: space-between;
}

footer div{
  flex: 1;
}

footer ul{
  padding: 0;
}
footer ul li a{
  text-decoration: none;
  color: black;
}

footer ul li a:hover{
  color: #495E57;
  text-decoration: underline solid #495E57;
}

footer div img{
  margin-top: 10%;
  width: 5rem;
}

/*Form*/
form{
  display: grid;
  max-width: 200px;
  gap: 20px;
}

fieldset{
  outline: none;
  border: 0;
  box-shadow: none;
}

.submitBtn{
  background-color: #f4ce14;
  color: black;
  border: none;
  border-radius: 16px;
  text-decoration: none;
  font-size: 18px;
  padding: 14px 18px;
  font-weight: bold;
  cursor: pointer;
}

.submitBtn:hover{
  background-color: #495E57;
  color: white;
}

/*Responsive*/

@media screen and (max-width: 1360px) {
  .header section div img {
    right: 13%;
    top: 25%;
    width: 15rem;
    height: 15rem;
  }

  .highlights-content{
    flex-direction: column;
  }
}

@media screen and (max-width: 982px) {
  .header section div img {
    margin-top: 10%;
    position: static;
  }

  .hamburger-icon{
    display: block;
  }

  .hamburger-nav{
    display: none;
  }

  nav ul{
    display: none;
  }

  nav ul li a{
    color: white;
  }

  .visible {
    display: flex;
    background: white;
    color: #495e57;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
  }

  .visible li a {
    display: flex;
    color: #495e57;
    transition: all 0.3s ease-in-out;
  }
  footer section{
    padding: 10px 8%;
    flex-direction: column;
  }
}